# Data Science Tools and Ecosystem

<p>In this notebook, Data Science Tools and Ecosystem are summarized.<p>

__Objectives:__

- Listing popular language used by Data Scientists.
- Listing commonly used libraries used by Data Scientists.
- Observing code.

    Some of the popular languages that Data Scientists use are:
    
        1. Python.
        2. R.
        3. SQL.

  Some of the commonly used libraries used by Data Scientists include:
  
        1. NumPy.
        2. SciPy.
        3. Pandas.
        4. Matplotlib.
        5. SciKit-Learn.

| Data Science Tools|
| -------------|
| Apache Spark|
| Jupyter Notebooks|
| MLFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
## This a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [16]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author:</h2> Juliett Minchew